
:root {
    --background-color: hsl(0, 0%, 98%);
    --element-background: hsl(0, 0%, 100%);
    --text-color: hsl(200, 15%, 8%);
    --default-box-shadow: 0 4px 6px -1px rgb(0 0 0 / 5%), 0 2px 4px -1px rgb(0 0 0 / 1%);
    &.dark-theme {
        --background-color: hsl(207, 26%, 17%);
        --element-background: hsl(209, 23%, 22%);
        --text-color: hsl(0, 0%, 100%);
    }
}