.search {
    background: var(--element-background);
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: .25rem;
    @include respond-above(sm) {
        max-width: 400px;
    }
    &__label {
        position: absolute;
        padding-left: 1.5rem;
    }
    
    &__field {
        appearance: none;
        border: 0;
        background: transparent;
        padding: 1rem;
        padding-left: 4rem;
        flex-grow: 1;
        box-shadow: var(--default-box-shadow);
        color: var(--text-color);
        border-radius: 0.25rem;
        &::-webkit-input-placeholder {
            color:var(--text-color);
        }
        &::-moz-placeholder {
            color:var(--text-color);
        }
        &:focus,
        &:focus-visible,
        &:focus-within {
            outline: 0;
            box-shadow: 0 0 0 2px rgba(18, 141, 211, 0.75);
        }
    }
}
